<div class="content-page">
    <div class="ui-title">{% helper lang.l('header_main', 'likes') %}</div>
    <div class="ui-descr">
        {% helper lang.l('field_usr_inf_description', 'likes') %}
    </div>
</div>
{% for item in your %}
    <div class="col-xs-12 content-page">
        <div class="ui-title bb">{{ user.output_name }} {{ item }}</div>
        <div>
            <span class="heart"></span>
        </div>
    </div>
{% endfor %}