<table>
    <tr>
        <td>{% helper lang.l('notification_field_hello', 'notifications', lang_id) %}, {{ data.name }}!</td>
    </tr>
    <tr>
        <td style="padding-bottom:30px;">
            {% helper lang.l('notification_count_users_registration', 'users', lang_id) %}: {{ data.count }}. 
        </td>
    </tr>
</table>