{% include '@app/header.twig' %}

<div class="col-xs-12 content-block load_content">
    <div class="page-header">
        <h1>
            {% helper seo.seo_tags('header_text') %}
        </h1>
    </div>

    <div class="inside logform">
        <form action="{{ site_url }}users/restore" method="post" class="form-horizontal">
            <input type="hidden" name="code" value="{{ code }}">
            <div class="form-group">
                <label for="password" class="col-xs-12 tali">
                    {% helper lang.l('field_new_password', 'users') %}:
                </label>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                    <input type="password" name="password" value="" id="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="repassword" class="col-xs-12 tali">
                    {% helper lang.l('field_repassword', 'users') %}:
                </label>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                    <input type="password" name="repassword" value="" id="repassword" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="submit" name="btn_restore" class="btn btn-primary" value="{% helper lang.l('btn_save', 'start') %}" required>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clr"></div>
<script>
    $(function(){
        let password = document.getElementById("password");
        let repassword = document.getElementById("repassword");
        const validatePassword = () => {
            if(password.value !== repassword.value) {
              repassword.setCustomValidity("Passwords Don't Match");
            } else {
              repassword.setCustomValidity('');
            }
          }
          password.onchange = validatePassword;
          repassword.onkeyup = validatePassword;
    });
</script>
{% include '@app/footer.twig' %}
