<div class="profile-menu">
    <ul>
        {% helper profile_section_name = lang.l('filter_section_profile', 'users') %}
        <li {% if profile_section == 'profile' %}class="active"{% endif %}>
            {% set seodata2 = seodata|merge({'section-code': 'profile', 'section-name': profile_section_name}) %}
            <a data-pjax-no-scroll="1" href="{% helper seo.seolink('users', 'view', seodata2) %}">
                {{ profile_section_name }}
            </a>
        </li>

        {% helper is_module_installed = utils.depends('wall_events', 'media') %}
        {% if is_module_installed.wall_events %}
            {% helper wall_section_name = lang.l('filter_section_wall', 'users') %}
            <li {% if profile_section == 'wall' %}class="active"{% endif %}>
                {% set seodata1 = seodata|merge({'section-code': 'wall', 'section-name': wall_section_name}) %}
                <a data-pjax-no-scroll="1" href="{% helper seo.seolink('users', 'view', seodata1) %}">
                    {{ wall_section_name }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
