.menu_section_item-text {
    display: inline-block;
    position: absolute;
    line-height: 26px;
}
.material-icons {
    width: 32px;
}
.menu_section {
    .material-icons-link {
        height: 40px;
    }
}
