<span class="outgoing_call">
    {% helper lang.l('outgoing_call', 'twilio_chat', user_from.lang_id) %}
    <i style="color: #00a11a" class="fas fa-phone"></i></span><br><span>{{ sec }}
</span>
<i class="fas fa-arrow-down"></i>
<a href="{{ user_to.link }}">{{ user_to.nickname }}</a>