<div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
    <span class="count_top text-overflow">{% helper lang.l('stat_visits', 'start') %}</span>
    <div class="count">
        <a href="{{ site_url }}admin/marketing/index">
            <div id="analytic_image"></div>
        </a>
    </div>
</div>
