<h1>{% helper lang.l('field_notify_email', 'notifications') %}</h1>
<div>
    <form action="" method="post" class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12">
                {% for notification in notifications_list %}
                    <div class="checkbox">
                        <label><input type="checkbox" value="{{ notification.gid }}" name="notification[]" 
                                      {% if notification.gid in notifications_gids %}checked{% endif %}>{{ notification.label_name }}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input class="btn btn-primary" type="submit" value="{% helper lang.l('btn_save', 'start', '', 'button') %}" name="btn_save">
            </div>
        </div>
    </form>
</div>