$html_bg: #EEEEF4;
$main_bg: #EE2C55;
$index_promo_text_main: #FFFFFF;
$index_promo_text_on_bg: #FFFFFF;
$header_bg: #EE2C55;
$footer_bg: #EEEEF4;
$index_footer_bg: #322B37;
$input_color: #EE2C55;
$input_bg_color: #FFFFFF;
$status_color: #00A11A;
$link_color: #EE2C55;
$font_color: #111111;
$header_color: #111111;
$descr_color: #777777;
$contrast_color: #AAAAAA;
$delimiter_color: #DDDDDD;
$indicator_color: #00A11A;
$content_bg: #FFFFFF;
$main_font_size: 14px;
$input_font_size: 15px;
$h1_font_size: 20px;
$h2_font_size: 14px;
$small_font_size: 12px;
$alert_error_bg: #F2DEDE;
$alert_error_color: #A94442;
$alert_success_bg: #DFF0D8;
$alert_success_color: #3C763D;
$alert_info_bg: #FFFFFF;
$alert_info_border: #DDDDDD;
$alert_info_color: #111111;
$alert_warning_bg: #FCF8E3;
$alert_warning_color: #8A6D3B;
$index_bg_size: auto auto;
