<table>
    <tr>
        <td>{% helper lang.l('notification_field_hello', 'notifications', lang_id) %}, {{ data.fname }}!</td>
    </tr>
    <tr>
        <td style="padding-bottom:30px;padding-top:30px;">
            {{ data.preview }}
        </td>
    </tr>
    <tr>
        <td style="padding-bottom:30px;">
            {{ data.status }}
        </td>
    </tr>
</table>