<div class="content-page">
    <div class="ui-title">{% helper lang.l('header_main', 'im') %}</div>
    <div class="ui-descr">
        {% helper lang.l('field_usr_inf_description', 'im') %}
    </div>
</div>
{% for item in contacts %}
    <div class="col-xs-12 content-page">
        <div class="ui-title"><a href="{{ item.file_path }}">{{ item.contact_user.output_name }}</a></div>
    </div>
{% endfor %}