<div class="content-page">
    <div class="ui-title">{% helper lang.l('header_main', 'winks') %}</div>
    <div>
        {% helper lang.l('field_usr_inf_description', 'winks') %}
    </div>
    {% for link, name in pages %}
        <div><a href="{{ link }}">{{ name }}</a></div>
    {% else %}
        {% if is_not_archive %}
            <input type="checkbox" name="ui_winks" data-module="winks" value="1" class="ui_checkbox" data-action="ui_change" checked>
        {% else %}
            <div><i>{% helper lang.l('list_empty', 'winks') %}</i></div>
        {% endif %}
    {% endfor %}
</div>