.player-content {
	display:block;
	margin: 0 auto;
	max-width:100%;
	max-height:100%;
}

@media (min-width : 547px) and (max-width : 768px) {
    .player-content {
        zoom: 0.85;
    }
    .plr50{
    	padding: 0;
    }
}
@media (min-width : 420px) and (max-width: 546px) {
    .player-content {
        zoom: 0.65;
    }
    .plr50{
    	padding: 0;
    }
}
@media (max-width: 419px) {
    .player-content {
        zoom: 0.50;
    }
    .plr50{
    	padding: 0;
    }
}