<span id="ajax_donate_link_menu_{{ rand }}">
    <a href="javascript:void(0);" id="donate_link_send_vip">
        {% helper lang.l('send_vip', 'send_vip') %}
    </a>
</span>
<script>
    $(function() {
        loadScripts(
            "{% helper utils.jscript('send_vip', 'SendVip.js', 'path') %}",
            function () {
                send_vip = new SendVip({
                    siteUrl: site_url,
                    user_id: {{ user_id }}
                });
            },
            ['send_vip'],
            {async: true}
        );
    });
</script>