<div class="content-page">
    <div class="ui-title">{% helper lang.l('header_main', 'subscriptions') %}</div>
    <div class="ui-descr">
        {% helper lang.l('field_usr_inf_description', 'subscriptions') %}
    </div>
</div>
{% for item in your %}
    <div class="col-xs-12 content-page">
        <div class="ui-title bb">{% helper lang.l('field_usr_inf_subscribed', 'subscriptions') %}</div>
        <div>{{ item.name }}</div>
    </div>
{% endfor %}