<div class="content-page">
    <div class="ui-title">{% helper lang.l('header_main', 'media') %}</div>
    <div class="ui-descr">
        {% helper lang.l('field_usr_inf_description', 'media') %}
    </div>
</div>
{% for item in image %}
    <div class="col-xs-12 content-page">
        <div class="ui-title bb">{{ user.output_name }} {% helper lang.l('uploads_new_photos', 'media') %}</div>
        <div>
            <img src="image/grand-{{ item.mediafile }}" alt="{{ item.media.fname }}"  title="{{ item.media.fname }}" class="img-rounded img-responsive">
        </div>
    </div>
{% endfor %}