{% if services_data.is_access_permissions %}    
    {% set is_one_group %}{% helper access_permissions.isMoreThanOneActiveGroup() %}{% endset %}
    {% helper user_group = access_permissions.getUserGroupInfo({'id_user': user_session_data.user_id, 'is_default_excluded':1}) %}    
    {% if is_one_group|length > 0 %}                         
        <span class="xs-menu-actions-info">{{ user_group.data.current_name }}</span>
        <a href="{% helper seo.seolink('access_permissions', 'index') %}"
            {% if user_group.left_str|length > 0 %}
                    onclick="{% helper start.setAnalytics('left_menu_user', 'prolong') %}"
            {% else %}     
                    onclick="{% helper start.setAnalytics('left_menu_user', 'upgrade') %}"
            {% endif %}>
            <i class="fa fa-rocket"></i>
            {% if user_group.left_str|length > 0 %}
                {% helper lang.l('btn_prolong_membership', 'access_permissions') %}
            {% else %}
                {% helper lang.l('link_get_premium', 'users') %}
            {% endif %}
        </a>
    {% endif %}
{% endif %}