<div class="profile-menu clearfix">
    <ul class="btn-group mb10">
        {% helper is_module_installed = utils.depends('wall_events') %}
        {% if is_module_installed.wall_events %}
            {% set wall_section_name %}
                {% helper lang.l('filter_section_wall', 'users') %}
            {% endset %}
            <li class="btn btn-default {% if action == 'wall'%}active{% endif %}">
                <a data-pjax-no-scroll="1" href="{% helper seo.seolink('users', 'profile', {'section-code': 'wall', 'section-name': wall_section_name}) %}">
                    {{ wall_section_name }}
                </a>
            </li>
        {% endif %}
        {% helper profile_section_name = lang.l('filter_section_profile', 'users') %}
        <li class="btn btn-default {% if action == 'view' %}active{% endif %}">
            <a data-pjax-no-scroll="1" href="{% helper seo.seolink('users', 'profile', {'section-code': 'view', 'section-name': profile_section_name}) %}">
                {{ profile_section_name }}
            </a>
        </li>
        {% if not template == 'magazine' %}
            {% helper is_module_installed = utils.depends('media') %}
            {% if is_module_installed.media %}
                {% helper gallery_section_name = lang.l('filter_section_gallery', 'users') %}
                <li class="btn btn-default {% if action == 'gallery' %}active{% endif %}" >
                    <a data-pjax-no-scroll="1" href="{% helper seo.seolink('users', 'profile', {'section-code': 'gallery', 'section-name': gallery_section_name}) %}">
                        {{ gallery_section_name }}
                    </a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</div>
