<div class="content-page">
    <div class="ui-title">{% helper lang.l('header_main', 'send_vip') %}</div>
    <div class="ui-descr">
        {% helper lang.l('field_usr_inf_description', 'send_vip') %}
    </div>
</div>
{% for item in your %}
    <div class="col-xs-12 content-page">
        <div class="ui-title bb">{% helper lang.l('header_send_vip_block', 'send_vip') %}</div>
        <div>{% helper lang.l('field_text_send_vip_notify', 'send_vip') %}: {{ item.sender.output_name }}</div>
        <div>{% helper lang.l('send_vip_membership_name', 'send_vip') %}: {{ item.group }}, {{ item.period }}</div>
    </div>
{% endfor %}