<table>
    <tr>
        <td>{% helper lang.l('notification_field_hello', 'notifications', lang_id) %}, {{ data.nickname }}!</td>
    </tr>
    <tr>
        <td style="padding-bottom:30px;">
            {% if data.is_admin %}
                {% helper lang.l('notification_field_restore_link_is_admin', 'users', lang_id) %}: 
            {% else %}
                {% helper lang.l('notification_field_restore_link', 'users', lang_id) %}: 
            {% endif %}
            <a href='{{ data.restore_link }}' style="text-decoration: none;">
                {{ data.restore_link }}
            </a>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom:30px;">
            {% helper lang.l('notification_restore_is_error', 'users', lang_id) %}. 
        </td>
    </tr>
</table>
