.ui-autocomplete{
  max-height: 600px;
  max-width: 792px;
  overflow-y: scroll;

  .autocomplete-flex{
    display: -webkit-box;display: -ms-flexbox;display: flex;
    margin: 8px 0;
    word-break: break-word;

    a {
      width: 100%!important;
    }
    span{
      font-size: 12px;
      color: #a2a2a2;
    }
  }

}
.x_content #pages_table .lightUpActive{
  background: rgb(230 255 230)!important;
  box-shadow: 0 0 3px 0px #ffe627;
}
