<a class="link-r-margin" href="{{ site_url }}chatbox/chat/{{ user_id }}"
   title="{% helper lang.l('link_message_send', 'chatbox', '', 'button') %}">
    <i class="fas fa-envelope fa-lg edge hover"></i>
</a>
