{# <div class="mobile-block">
    <a onclick="{% helper start.setAnalytics('f', 'footer-menu-mobile-item') %}" href="{{ site_url }}m/">
        <div class="col-sm-6 col-md-6 mobile-link-block">{% helper lang.l('mobile_version', 'mobile') %}</div>
    </a>
</div>
 #}
 <div class="col-sm-6 col-md-6"></div>