{%if android_url or ios_url %}
    {%if android_url %}
        <a onclick="{% helper start.setAnalytics('index', 'btn_download_android_app') %}" href="{{ android_url }}" class="android_app" target="_blank">
            <img class="img-responsive" src="{{ site_root }}application/views/flatty/img/android.svg">
        </a>
    {% endif %}

    {%if ios_url %}
        <a onclick="{% helper start.setAnalytics('index', 'btn_download_ios_app') %}" href="{{ ios_url }}" class="ios_app" target="_blank">
            <img class="img-responsive" src="{{ site_root }}application/views/flatty/img/appstore.svg">
        </a>
    {% endif %}
{% endif %}
