<a href="{{ site_url }}chatbox/chat/{{ user_id }}"  data-user-id="{{ user_id }}" class="btn btn-primary  chatbox-start-dialog-btn ellipsis {% if class %}{{class}}{% endif %}" >
   {% helper lang.l('im_chat', 'im') %}
</a>
